.wrapper {
    height: 660px;
    width: 1320px;
    /*background-color: red;*/
}
header {
    height: 130px;
    width: 1340px;
    background-color: black;
}

section {
    height: 550px;
    width: 1340;
    background-color: grey;
}

footer {
    height: 80px;
    width: 1340px;
    background-color: black;
}

.logo {
    float:left;
    padding-left: 20px;
}

.logo img {
    padding-top: 10px;
    padding-left: 170px;
    height: 55px;
}

li a {
    color: white;
    text-decoration: none;
}

nav {
    float: right;
    word-spacing: 30px;
    padding: 20px;
}

nav li {
    display: inline-block;
    line-height: 80px;
}

section .sec_img {
    height: 550px;
    margin-top: 0px;
    background-image: url(../Bemi/background.jpg);
}

section {
    margin-top: 0px;
    background-image: url(../Bemi/background.jpg);
}

.box {
    height: 300px;
    width: 450px;
    background-color: #030002;
    margin: 70px auto;
    opacity: .6;
    color: white;
}

/* ---------- Student ---------- */

.log_img {
    height: 550px;
    margin-top: 0px;
    background-image: url()
}

.box1 {
    height: 350px;
    width: 410px;
    background-color: black;
    margin: 60px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
form .login {
    margin: auto 50px;
}
input {
    height: 25px;
    width: 300px;
}

/*-- Registrasion */

.reg_img {
    height: 550px;
    margin-top: 0px;
    background-image: url()
}

.box2 {
    height: 550px;
    width: 400px;
    background-color: black;
    margin: 0px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}

/* --- book */
.gallery {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap; 
}